
/* COMIENZA RESET */

*{
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

header{
    display: flex;
    height: 100px;
    background-color: #A6F5AD;
    justify-content: space-between ;
    align-items: center;
}

nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 20px;
}
a{
    text-decoration: none;
    color: black;


}
body{
    background-color:antiquewhite;
}

footer{
    background-color: black;
    padding: 1em 0;
    bottom: 0;
}


/* INICIO */

.bienvenida {  /*Aplique color en el titulo*/
    color:#33FFAA;
    font-family: 'Fuzzy Bubbles', cursive;
    animation-name: mianimacion;
    animation-duration: 4s;
    position: relative;

}

@keyframes mianimacion {
    0% {color: black; left: -200px;}
    50% {color: rgb(90, 192, 136);left: 300px;}
    70% {color: #60e794; left: 0px; right: 300px;}
    100% {color:#17ff9e;left: 0px; right: 0px;}
}


.imagen{  /*Cambio de tamaño en el logo de mi pagina web */
    width: 150px;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}


.barranav{   /*Personalizo la barra de navegacion en la seccion Inicio*/
    display: flex;
    background: #fff;
    margin: auto;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
    box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
		rgba(0, 0, 0, 0.1) 10px 10px 10px,
		rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
		rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
    border: center;
}


.productos { /*Cambio la tipografia*/
    font-family: 'Montserrat', sans-serif;
    font-family: 'Silkscreen', cursive;
    margin: 30px;
}

.indexGrid div{
    margin-bottom: 50px; 
}

.indexGrid{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(3, autofill);
    justify-content: space-around; 
    gap: 10px;
}

.imagen1{
    width: 350px;
    height: 400px;
}

.imagen2 {
    width: 350px;
    height: 400px;
}

.imagen3 {
    width: 350px;
    height: 400px;
}

.imagen4{
    width: 350px;
    height: 400px;
}

.imagen5{
    width: 350px;
    height: 400px;
}

.imagen6{
    width: 350px;
    height: 400px;
}

.imagen7{
    width: 350px;
    height: 400px;
}
.imagen8{
    width: 350px;
    height: 400px;
}

@media screen and (min-width: 480px) and (max-width:768px){
    .indexGrid{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows:repeat(4, autofill); 
        justify-content: space-around; 
        gap: 10px;
    }
    

    .imagen1{
        width: 150px;
        height: 200px;
    }
    
    .imagen2 {
        width: 150px;
        height: 200px;
    }
    
    .imagen3 {
        width: 150px;
        height: 200px;
    }
    
    .imagen4{
        width: 150px;
        height: 200px;
    }
    
    .imagen5{
        width: 150px;
        height: 200px;
    }
    
    .imagen6{
        width: 150px;
        height: 200px;
    }
    
    .imagen7{
        width: 150px;
        height: 200px;
    }
    .imagen8{
        width: 150px;
        height: 200px;
    }

    nav {
        font-size: 8px;
    }

}

.white{ /*Cambio color de las letras del Footer y la tipografia*/
    color: white;
    font-family: 'Inspiration', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Silkscreen', cursive;
}


.imagenFooter {  /*Cambio tamaño de las iamgenes del Footer*/
    width: 75px;
    height: auto;
}




/* PRODUCTOS */

.barranav{ /*Personalizo la barra de navegacion en la seccion Productos*/
    display: flex;
    background: #fff;
    margin: auto;
    padding: 9px 22px 9px 26px;
    border-radius: 30px;
    border: 2px solid #cad3dc;
    box-shadow: rgba(255, 255, 255, 0.5) -8px -8px 15px,
		rgba(0, 0, 0, 0.1) 10px 10px 10px,
		rgba(255, 255, 255, 0.5) -8px -8px 15px inset,
		rgba(0, 0, 0, 0.1) 10px 10px 10px inset;
    border: center;
}

.h3productos{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Silkscreen', cursive;
    font-size: 25px;
}

.ulproductos{
    position: relative;
    right: 580px;
}

.gridProductos{
    display: grid;
    grid-template-columns: repeat(3,1fr) ;
    grid-template-rows:repeat(3, autofill);
    justify-content: space-around;  
}

@media screen and (min-width: 480px) and (max-width:768px){
    .gridProductos{
        display: grid;
        grid-template-columns: repeat(2,1fr) ;
        grid-template-rows:repeat(4, autofill); 
        justify-content: space-around; 
        gap: 10px;
    }
    

    .imagen1{
        width: 150px;
        height: 200px;
    }
    
    .imagen2 {
        width: 150px;
        height: 200px;
    }
    
    .imagen3 {
        width: 150px;
        height: 200px;
    }
    
    .imagen4{
        width: 150px;
        height: 200px;
    }
    
    .imagen5{
        width: 150px;
        height: 200px;
    }
    
    .imagen6{
        width: 150px;
        height: 200px;
    }
    
    .imagen7{
        width: 150px;
        height: 200px;
    }
    .imagen8{
        width: 150px;
        height: 200px;
    }

    nav {
        font-size: 8px;
    }

    h3{
        margin: 10px;
    }

    .barranav{
        margin-bottom: 15px;
    }

    div h3 {
        font-size: 15px ;
    }

    div h5 {
        font-size: 12px;
    }
    
    .ulproductos{
        display: none;
    }

    
}


.white{   /*Cambio color de las letras del Footer y la tipografia*/ 
    color: white;
    font-family: 'Inspiration', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Silkscreen', cursive;
}


.imagenFooter {  /*Cambio tamaño de las iamgenes del Footer*/
    width: 75px;
    height: auto;
}



/* NOSOTROS */

.nosotros {   /*Cambio color del h1*/
    color: #33FFAA;
    font-family: 'Shadows Into Light', cursive;
    font-size: 3em;
}


.h4nosotros{
    font-family: 'Amatic SC', cursive;
    font-size: 35px;
}

/* FAQ */

.faq{
    color:red;
    animation-name: animacionfaq;
    animation-duration:4s;
    position: relative;
}

@keyframes animacionfaq {
    0% {color: red;}
    30% {color: black;}
    50% {color: red}
    70% {color:black}
    100%{color: red;}
}

.white{ /*Cambio color de las letras del Footer y la tipografia*/ 
    color: white;
    font-family: 'Inspiration', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Silkscreen', cursive;
}

.imagenFooter {  /*Cambio tamaño de las iamgenes del Footer*/
    width: 75px;
    height: auto;

}

/* CONTACTO */

.contenedorForm{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 2em;
}

form{ /*Modifico el formulario*/
    width: 400px;
    margin: 0;
    padding: 10px 20px;
    text-align: center;
    box-sizing: border-box;
    margin-top: 20px;
    text-align: center;
    border-radius: 7px;
    background: rgba(0, 0, 0, 0.4);
    
    
}

#titulo{ /*Cambio color del h2*/
    color:#33FFAA;
    text-align: center;
    margin: 0;
    font-size: 30px;
    margin-bottom: 20px;
}

.contact{ /*Modifico los input del formulario*/
    width: 100%;
    margin-bottom: 20px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 17px;
    resize: none;
    outline: none;
    border: none;
    
}

#boton{ /*Personalizo el boton del enviar*/
    background: #31384A;
    color: #fff;
    padding: 10px;    
}

#boton:hover{ /*Personalizo el boton del enviar*/
    cursor: pointer;
}

.imagenFooter {  /*Cambio tamaño de las iamgenes del Footer y la tipografia*/
    width: 75px;
    height: auto;
}
